:root {
    --primarycolor: hsl(199, 100%, 33%);
    --secondarycolor: hsl(187, 85%, 43%);
    --gradientcolor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whitecolor: hsl(0, 0%, 100%);
    --blackcolor: hsl(201, 33%, 16%);
    --textcolor: hsl(240, 4%, 36%);
    --whitecolorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputcolor: rgb(239, 239, 239);
    --bodycolor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);

}

.main {
    width: 100%;

    .section-tittle {
        .tittle {
            position: relative;
            width: max-content;
            color: var(--textcolor);
            margin: 1rem 0;
            z-index: 2;

            &::after {
                position: absolute;
                content: '';
                background: var(--secondarycolor);
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

    .section-content {
        justify-content: center;
        gap: 1.5rem;

        .single-destination {
            height: 100%;
            display: grid;
            row-gap: 10px;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            overflow: hidden;

            &:hover {
                background: var(--cardHover);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3s ease;
            }

            .img-div {
                height: 180px;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .card-info{
                padding: 1rem;

                .des-tittle{
                    color: var(--blackcolor);
                    font-size: 1.25rem;
                }
                .continent{
                    gap: .5rem;

                    .icon{
                        color: var(--textcolor);
                        font-size: 18px;
                    }
                    .name{
                        color: var(--textcolor);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .fees{
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem 0;
                    border-top: 1.5px solid var(--greyText);
                    border-bottom: 1.5px solid var(--greyText);
                   
                    .grade{
                        color: var(--textcolor);
                        /* max */
                        max-width: 100px;  
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small{
                            text-align: center;
                            background: var(--gradientcolor);
                            border-radius: 1rem;
                            color: var(--whitecolor);
                            padding: 1px 10px;
                            font-size: 10px;
                        }

                    }

                    .price{
                        font-size: 1.5rem;
                        color: var(--blackcolor);

                    }

                }
                .desc{
                    font-size: 13.5px;
                    color: var(--textcolor);
                    font-weight: 500;

                }
                .btn{
                    margin-top: 1rem;
                    color: var(--whitecolor);
                    font-weight: 600;
                    justify-content: space-between;
                    gap: .5rem;

                    .icon{
                        align-self: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (min-width:500px) {
    .tittle{
        font-size: 1.3rem;

        &::after{
            width: 155px !important;
        }
    }
    .section-content{
        grid-template-columns: repeat(2,1fr);

        .single-destination{
            height: auto;

        }
    }
}

@media (min-width:840px) {
    .section-content{
        grid-template-columns: repeat(3,1fr);

        .single-destination{
            height: auto;

        }
    }
}
